body {
    background-image: url("web_background.jpeg");
    background-size: 200px;
    background-repeat: repeat;
  }

  h1, h2, h3, button, #main_wrapper, .slider, input {
	font-family: 'EB Garamond', serif;
	
}

#main_wrapper {
	padding: 30px;
	/* Make this n more than 500px wide, and center it horizontally */
	margin: 0px auto;
	max-width: 800px;
	box-shadow: 1px 2px 5px hsla(0, 0, 0, .5);


	background-color: rgba(243, 240, 244, 0.9);
	border-radius: 5px;
	
	text-align: center;
}

#main {
	padding: 30px;
	/* Make this n more than 500px wide, and center it horizontally */
	margin: 0px auto;
	max-width: 750px;
	box-shadow: 1px 2px 5px hsla(0, 0, 0, .5);


	background-color: rgba(142, 111, 255, 0.4);
	border-radius: 30px;
	
	text-align: center;
}

.planet a {
    font-family: 'EB Garamond', serif;
}

.planet, .movie {
	display: inline-block;
	padding: 10px;
    background-color: rgba(245, 219, 255, 0.4);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 15px;
	margin: 15px;
}

.photocard {
	display: inline-block;
	padding: 10px;
    background-color: rgba(142, 111, 255, 0.4);
    border-style: none;
    border-width: 3px;
    border-color: black;
    border-radius: 15px;
	margin: 5px;
}

.aboutme {
  display: inline-block;
  padding: 5px;
  background-color: rgba(142, 111, 255, 0.4);
  border-style: none;
  border-width: 3px;
  border-color: black;
  border-radius: 15px;
  margin: 5px;
}

.photocard img {
    width: 50%;
    height: 50%;
  }

.biopic img {
  width: 40%;
  height: 40%;
  border-radius: 50%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(53, 50, 50,0.9);
    overflow: hidden;
    border-radius: 5px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-size: 17px;
  }

  .topnav #link_home {
      float:left;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(159, 62, 154);
    color: white;
  }

  .drawing_tools button, input{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: rgba(142, 111, 255, 0.4);
  }

.controls{
  flex: 1
}
.slider{
  display: inline-block;
  margin: 20px;
}

.movie header {
  font-size: 28px;
  font-weight: bold;
}